
<!--================Header Menu Area =================-->
<%- include("./partials/_header.ejs") %>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section  class="home_banner_area blog_banner">
    <div class="banner_inner d-flex align-items-center">
        <div style = "background-image:url('/img/banner/pexels-pixabay-262508.jpg');background-size:cover;"class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="blog_b_text text-center">
                <h2>This is mern dev blog <br /> Page</h2>
                <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>
                <a class="white_bg_btn" href="#">View More</a>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/img/blog/cat-post/cat-post-3.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="/blog/sociallife"><h5>Social Life</h5></a>
                            <div class="border_line"></div>
                            <p>Enjoy your social life together</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/img/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="/blog/politics"><h5>Politics</h5></a>
                            <div class="border_line"></div>
                            <p>Be a part of politics</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/img/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="/blog/food"><h5>Food</h5></a>
                            <div class="border_line"></div>
                            <p>Let the food be finished</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                <%if(typeof articleArray != "undefined"){%>
                    <% articleArray.forEach((article)=>{ %>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a class="active" href="#"><%= article.articleType.toUpperCase() %></a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <!-- reporter name -->
                                        <li><a href="#"><%=article.reporter %> <i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#"><%=article.Date %><i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                        <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="/uploads/<%=article.articleImage %>" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html"><h2><%= article.title %></h2></a>
                                        <p>
                                            <%= article.shortArticle %>
                                        </p>
                                        <a href="/blog/<%= article._id %>" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    <%}) %>
                <%}%>




                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <h4>Ashish Prajapti</h4>
                        <p>blog writer</p>
                        <div class="social_icon">
                            <a href="https://www.facebook.com/beingsocasual" target = "_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.facebook.com/beingsocasual" target = "_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://github.com/beingsocasual" target = "_blank"><i class="fa fa-github"></i></a>
                        </div>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Post Catgories</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="/blog/technology" class="d-flex justify-content-between">
                                    <p>Technology</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="/blog/food" class="d-flex justify-content-between">
                                    <p>Food</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="/blog/lifestyle" class="d-flex justify-content-between">
                                    <p>Life style</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="/blog/politics" class="d-flex justify-content-between">
                                    <p>Politics</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="/blog/sociallife" class="d-flex justify-content-between">
                                    <p>Social Life</p>
                                    <p>59</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                        Here, I focus on a range of items and features that we use in life without
                        giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>	
                        <p class="text-bottom">You can unsubscribe at any time</p>	
                        <div class="br"></div>							
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li><a href="/blog/technology">Technology</a></li>
                            <li><a href="/blog/food">Food</a></li>
                            <li><a href="/blog/lifestyle">Lifestyle</a></li>
                            <li><a href="/blog/politics">Politics</a></li>
                            <li><a href="/blog/sociallife">Social life</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->

<!--================Footer Area =================-->
<%- include("./partials/_footer.ejs") %>
<!--================End Footer Area =================-->


