
<!--================Header Menu Area =================-->
<%- include("./partials/_header.ejs") %>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="home_banner_area">
<div class="container box_1620">
<div class="banner_inner d-flex align-items-center">
    <div class="banner_content">
        <div class="media">
            <div class="d-flex">
                <img src="img/pexels-dazzle-jam-2020992.jpg"  alt="">
            </div>
            <div class="media-body">
                <div class="personal_text">
                    <h6>Hello Everybody, i am</h6>
                    <h3>Ashish Prajapati</h3>
                    <h4>Mern Stack Developer</h4>
                    <p>
                        I will help you create your beautifull website with the help Mern stack. Innovation is my passion.
                    </p>
                    <ul class="list basic_info">
                        <li><a href="#"><i class="lnr lnr-calendar-full"></i>8th Febuary, 2002</a></li>
                        <li><a href="#"><i class="lnr lnr-phone-handset"></i>+91 8851134290</a></li>
                        <li><a href="#"><i class="lnr lnr-envelope"></i>beingsocasual@gmail.com</a></li>
                        <li><a href="#"><i class="lnr lnr-home"></i>Shahdara, Delhi-32</a></li>
                    </ul>
                    <ul class="list personal_social">
                        <li><a href="https://www.facebook.com/beingsocasual" target = "_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/beingsocasual" target = "_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/beingsocasual/" target = "_blank"><i class="fa fa-github"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<%- include("./partials/_aboutMyself") %>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<%- include("./partials/_experienceAndEducation.ejs") %>
<!--================End My Tabs Area =================-->

<!--================Feature Area =================-->
<%- include("./partials/_feature") %>
<!--================End Feature Area =================-->

<!--================Home Gallery Area =================-->

<%- include("./partials/_featuredProjects.ejs") %>

<!--================End Home Gallery Area =================-->

<!--================Testimonials Area =================-->
<%- include("./partials/_testimonials") %>
<!--================End Testimonials Area =================-->

<!--================Footer Area =================-->
<%- include("./partials/_footer") %>
<!--================End Footer Area =================-->
